<%- include('../paritals/header'); %>
<h1>My Dogs Page</h1>

<a href="/dogs/new" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>
<br><br>
<% dogs.forEach((dog) => { %>
    <div class="row">
        <div class="col s6 m3">
          <div class="card grey darken-3">
            <div class="card-content white-text">
              <span class="card-title"><%= dog.name %></span>
              <dl>
                <dt>Breed:</dt>
                <dd><%= dog.breed %></dd><br>
                <dt>Age:</dt>
                <dd><%= dog.age %> years old</dd><br>
                <form class="red-text left" action="/dogs/<%= dog._id %>/edit">
                    <button class="btn yellow waves-effect black-text waves-light" type="submit" name="action">Edit</button>
                </form>
                <form class="red-text right" action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
                    <button class="btn red waves-effect waves-light" type="submit" name="action">Delete</button>
                </form>
              </dl>
            </div>
          </div>
        </div>
      </div>
<% }) %>
<%- include('../paritals/footer'); %>