<%- include('../partials/header'); %>
<h2>Update Dog</h2>
<div class="row">
    <form class="col s12" action="/dogs/<%= dog._id %>?_method=PUT" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input id="dogName" value="<%= dog.name %>" name="name" type="text">
          <label for="dogName">Dog's Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="dogBreed" value="<%= dog.breed %>" name="breed" type="text">
          <label for="dogBreed">Dog's Breed</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="dogAge" value="<%= dog.age %>" name="age" type="text">
          <label for="dogAge">Dog's Age</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Update Dog
        <i class="material-icons right">send</i>
      </button>
      <a class="btn waves-effect red waves-light" href="/dogs/myDogs">Cancel
      </a>
    </form>
  </div>
<%- include('../partials/footer'); %>