<%- include('../partials/header'); %>
<h2>All Cats</h2>

<% users.forEach(function(u) { %>
    <% u.cats.forEach(function(cat, idx) { %>
        <div class="row">
            <div class="col s6 m3">
              <div class="card grey darken-3">
                <div class="card-content white-text">
                  <span class="card-title"><%= cat.name %></span>
                  <dl>
                    <dt>Breed:</dt>
                    <dd><%= cat.breed %></dd><br>
                    <dt>Age:</dt>
                    <dd><%= cat.age %> years old</dd><br>
                    <dt>Owner:</dt>
                    <dd><%= u.name %></dd><br>
                    <form class="red-text center" action="/cats/<%= u._id %>/<%= cat._id %>">
                        <button class="btn green waves-effect black-text waves-light" type="submit">Details</button>
                    </form>
                  </dl>
                </div>
              </div>
            </div>
          </div>
    <% }) %>

<% }) %>


<%- include('../partials/footer'); %>