<%- include('../partials/base') %>
<h2>Book Details</h2>
<h3>Book Title: <%= book.title %></h3>
<h4>Book Author: <%= book.author %></h3>
<form action="/books/edit/<%= idx %>" method="GET">
    <button type='submit'>Edit Book</button>
</form>
<a href="/books">Back to book list</a>

<%- include('../partials/footer') %>